iibody {
	background: black;
}
* {
	border: 1px;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	margin: 0%;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 550px;
	height: 50px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-right input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgb(177, 175, 175);
}
.postcard-footer {
	text-align: center;
}

.body-left {
	font-family: Arial, Helvetica, sans-serif;
}

.button{
	background: darkgray;
	padding: 6px;
}


